Repository vrk-kpa/opendata: changes, and which Codecov flags are due for each by the changed paths.
All: cdk, ckan

add missing path
  .github/workflows/test.yml
Due: none

create the new directory
  .github/workflows/test.yml
Due: none

Revert "create the new directory"
  .github/workflows/test.yml
Due: none

Revert "add missing path"
  .github/workflows/test.yml
Due: none

Revert "Add extra directory to separate images from other artifacts"
  .github/workflows/test.yml
Due: none

Only download .tar files
  .github/workflows/test.yml
Due: none

Revert "Only download .tar files"
  .github/workflows/test.yml
Due: none

disable docker build summaries from tests
  .github/workflows/test.yml
Due: none

Numpy 2.0 breaks things
  ckan/Dockerfile
Due: none

[skip ci] .env.template updated by new image tags
  docker/.env.template
Due: none

Update test to match the translation
  cypress/e2e/dataset_resource_spec.js
Due: none

Fix typo in variable name
  cdk/lib/web-stack.ts
Due: cdk

Add sentry browser domain to csp headers
  cdk/lib/web-stack.ts
Due: cdk

Update qsv to 0.130.0 as 0.122.0 doesn't compile anymore
  docker/datapusher-plus/Dockerfile
Due: none

AV-2213: remove save_to_group from apis extension
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/scheming/form_snippets/multiple_checkbox.html
Due: ckan

AV-2213: fix deleting categories from dataset form and add highvalue categories
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/converters.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/helpers.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/schemas/dataset.json
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/scheming/display_snippets/tag_list.html
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/scheming/form_snippets/multiple_checkbox.html
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/scheming/form_snippets/radio.html
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/scheming/macros/form.html
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/scheming/package/snippets/additional_info.html
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/validators.py
Due: ckan

AV-2213: Add unit tests
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/tests/test_plugin.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/tests/utils.py
Due: ckan

collection type and licence id are mandatory
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/tests/utils.py
Due: ckan

Init harvest db
  .github/workflows/test.yml
Due: none

fixtures are already on class level
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/tests/test_plugin.py
Due: ckan

AV-2213: fix tests and add human readable search results for highvalue categories
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/tests/test_plugin.py
Due: ckan

AV-2213: Add translations for highvalue categories
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/i18n/ckanext-ytp_main.pot
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/translations.py
Due: ckan

Add tests for adding and deleting categories from datasets
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/tests/test_plugin.py
Due: ckan

add translations.py to ignored files in coverage, its not executed anywhere
  codecov.yml
Due: none

docker-compose v1 has been depracted and removed
  .github/workflows/test.yml
  docker/README.md
Due: none

Trigger container builds
  opendata-assets/README.md
Due: none

fix ckan_cron file name
  .github/workflows/test.yml
Due: none

Cache cypress container to speed up tests
  .github/workflows/test.yml
Due: none

Trigger container builds and tests
  opendata-assets/README.md
Due: none

Output the image for use in the next step
  .github/workflows/test.yml
Due: none

Output image instead of file, should be faster
  .github/workflows/test.yml
Due: none

AV-2213: simplify search_results parsing
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
Due: ckan

test if buildx is actually needed in e2e tests
  .github/workflows/test.yml
Due: none

Revert "test if buildx is actually needed in e2e tests"
  .github/workflows/test.yml
Due: none

Path conditions:
  cdk: any of: cdk/**
  ckan: any of: ckan/ckanext/**
