Repository vrk-kpa/opendata: changes, and which Codecov flags are due for each by the changed paths.
All: cdk, ckan

codecov.yml:

component_management:
  individual_components:
    - component_id: cdk
      paths:
        - cdk/**
      statuses:
        - type: project
          target: 95%
        - type: patch
          target: 100%
    - component_id: ckan
      carryforward: true
      paths:
        - ckan/ckanext/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
        - type: patch
          target: 90%

clean unused variables
  cdk/lib/cluster-stack.ts
Due: cdk

synth and deploy all stacks
  .github/workflows/master.yml
  .github/workflows/prod.yml
Due: none

Update tests
  cdk/test/cache-stack.test.ts
  cdk/test/ckan-stack.test.ts
  cdk/test/cluster-stack.test.ts
  cdk/test/database-stack.test.ts
  cdk/test/drupal-stack.test.ts
  cdk/test/filesystem-stack.test.ts
  cdk/test/load-balancer-stack.test.ts
Due: cdk

Deploy domain stacks only to eu-west-1
  cdk/bin/opendata.ts
Due: cdk

Fix stringlist parameters returning a comma delimited list
  cdk/lib/shield-stack.ts
Due: cdk

AV-2038: Protect cloudfront instead of load balancer
  cdk/bin/opendata.ts
  cdk/lib/shield-stack-props.ts
  cdk/lib/shield-stack.ts
  cloudformation/cloudfront.yml
Due: cdk

AV-2105: Remove times from the UI
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/package/resource_read.html
Due: ckan

Remove old WAF, new is created in shield stack
  cdk/lib/load-balancer-stack.ts
  cloudformation/instances.yml
Due: cdk

Upgrade drupal to 10.1.8
  drupal/composer.lock
Due: none

[skip ci] .env.template updated by new image tags
  docker/.env.template
Due: none

AV-2171: Fix additional info table styling
  opendata-assets/src/less/ckan/upstream-overrides.less
  opendata-assets/src/less/components/additional-info.less
  opendata-assets/src/less/components/tags.less
Due: none

Do not create default users in AWS
  cdk/lib/drupal-stack.ts
  docker/.env.drupal.local
  docker/.env.template
  docker/docker-compose.yml
Due: cdk

AV-2087: Translate suojattudata and update links to new domain
  drupal/i18n/drupal.pot
  drupal/i18n/en_GB/drupal.po
  drupal/i18n/fi/drupal.po
  drupal/i18n/sv/drupal.po
  drupal/modules/avoindata-explore/templates/avoindata_external_block.html.twig
  drupal/modules/avoindata-header/templates/avoindata_header.html.twig
Due: none

AV-2175: Avoid running background tasks every minute
  ckan/cron/crontab
Due: none

AV-2173: Update matomo and modify its logging levels
  ckan/templates/production.ini.j2
Due: none

AV-2170: Add transifex configuration to non-submodule translation files
  transifex.yml
Due: none

AV-2040: Send harvester status messages to Zulip
  cdk/lib/ckan-stack.ts
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/cli.py
  ckan/templates/production.ini.j2
  docker/.env.ckan.local
Due: cdk, ckan

AV-2031: Upgrade qsv
  docker/datapusher-plus/Dockerfile
Due: none

AV-2040: Use site url in harvester reports instead of title
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/cli.py
Due: ckan

AV-2040: Set environment specific CKAN site titles
  cdk/lib/ckan-stack.ts
  ckan/templates/production.ini.j2
  docker/.env.ckan.local
Due: cdk

AV-2040: Added missing article to readme to trigger drupal container rebuild
  drupal/modules/avoindata-hero/README.md
Due: none

AV-2040: remove harvester error status cronjob
  ckan/cron/crontab
Due: none

AV-2176: Increase background job workers and decrease download timeout value
  ckan/supervisor/conf.d/worker.conf
  ckan/templates/production.ini.j2
Due: none

AV-2006: Migrate prh tools and enable them production
  cdk/bin/opendata.ts
  cdk/lib/ckan-stack-props.ts
  cdk/lib/ckan-stack.ts
Due: cdk

Update tests
  cdk/test/ckan-stack.test.ts
Due: cdk

AV-2177: Remove unnecessary padding from tag list
  opendata-assets/src/less/components/tags.less
Due: none

Upload cron logs on errors
  .github/workflows/test.yml
Due: none

AV-2176: change supervisor worker process name patterns to support multiple processes
  ckan/supervisor/conf.d/worker.conf
Due: none
