Repository vrk-kpa/opendata: changes, and which Codecov flags are due for each by the changed paths.
All: cdk, ckan

codecov.yml:

component_management:
  individual_components:
    - component_id: cdk
      paths:
        - cdk/**
      statuses:
        - type: project
          target: 95%
        - type: patch
          target: 100%
    - component_id: ckan
      carryforward: true
      paths:
        - ckan/ckanext/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
        - type: patch
          target: 90%

Recommendation count fetch error should not break dataset show
  ckan/ckanext/ckanext-ytp_recommendation/ckanext/ytp_recommendation/plugin.py
Due: ckan

AV-2319: Move smtp username to secrets
  cdk/lib/ckan-stack.ts
  cdk/lib/drupal-stack.ts
Due: cdk

[skip ci] .env.template updated by new image tags
  docker/.env.template
Due: none

AV-2291: Prepare redirects and harvesters for changing group names
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/harvesters/sixodp_harvester.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/harvesters/syke_harvester.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
  docker/nginx/templates/server.conf.template
Due: ckan

AV-2290: Prepare combining groups koulutus-ja-urheilu and kulttuuri-taide-ja-vapaa-aika into koulutus-kulttuuri-ja-urheilu
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/cli.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/harvesters/sixodp_harvester.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
  docker/nginx/templates/server.conf.template
Due: ckan

AV-2289: ensure harvester category mappings
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/harvesters/syke_harvester.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
Due: ckan

Update drupal to 10.3.14
  drupal/composer.lock
Due: none

AV-2000: ckanext-qa 2.10 & 2.11 support
  .gitmodules
  ckan/Dockerfile
  ckan/templates/production.ini.j2
Due: none

AV-2429: Allow svgs in group images
  ckan/templates/production.ini.j2
Due: none

AV-1986: Use correct interface for ckan 2.10
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
Due: ckan

Use ckan 2.10 image in unit tests
  .github/workflows/test.yml
Due: none

Use ckan postgres test image which doesnt require to create tables and users
  .github/workflows/test.yml
Due: none

repositories are stale
  .github/workflows/test.yml
Due: none

Add 'file' to ckan container, ckanext-qa requires it
  ckan/Dockerfile
Due: none

Upgrade gulp
  opendata-assets/gulpfile.js
  opendata-assets/package-lock.json
  opendata-assets/package.json
Due: none

Upgrade upgradable dev dependencies
  opendata-assets/package-lock.json
  opendata-assets/package.json
Due: none

AV-2425: Add stack for setting ECR registry scanning configuration
  cloudformation/ecr-scanning-stack.yml
Due: none

AV-2425: Fix ecr-scanning-stack.yml format
  cloudformation/ecr-scanning-stack.yml
Due: none

New IAuthenticator identify_user interface
  ckan/Dockerfile
  ckan/src/ckan/patches/iauthenticator_fix.patch
  ckan/templates/production.ini.j2
Due: none

AV-2428: Update drupal to 10.4
  drupal/composer.lock
Due: none

Upgrade drupal/dev_mode
  drupal/composer.lock
Due: none

Upgrade drupal/redirect
  drupal/composer.lock
Due: none

Upgrade drupal/search_api
  drupal/composer.lock
Due: none

Upgrade drupal/unpublished_node_permissions
  drupal/composer.lock
Due: none

Update composer/installers
  drupal/composer.json
  drupal/composer.lock
Due: none

Upgrade dealerdirect/phpcodesniffer-composer-installer
  drupal/composer.json
  drupal/composer.lock
Due: none

Upgrade drupal/ctools
  drupal/composer.json
  drupal/composer.lock
Due: none

Upgrade drupal/fontawesome
  drupal/composer.json
  drupal/composer.lock
Due: none

Upgrade drupal/fontawesome_menu_icons
  drupal/composer.json
  drupal/composer.lock
Due: none

Upgrade php-kint/kint
  drupal/composer.json
  drupal/composer.lock
Due: none

AV-2187: Add missing node module @aws-sdk/client-ecs lost in merge
  package-lock.json
  package.json
Due: none

Upgrade league/commonmark
  drupal/composer.lock
Due: none

AV-2187: Add missing node module @aws-sdk/client-ecs lost in merge in cdk
  cdk/package-lock.json
  cdk/package.json
Due: cdk

Upgrade vlucas/phpdotenv
  drupal/composer.json
  drupal/composer.lock
Due: none
