Repository vrk-kpa/opendata: changes, and which Codecov flags are due for each by the changed paths.
All: cdk, ckan

carryforward flag is not available for components
  codecov.yml
Due: none

AV-1987: Use bootstrap 3 public/template folder in CKAN
  ckan/templates/production.ini.j2
Due: none

AV-2020: Disable ckanext-disqus
  cdk/lib/ckan-stack.ts
  docker/.env.ckan.local
Due: cdk

AV-2020: Remove reference to disqus helper from a template
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/package/read.html
Due: ckan

AV-2020: Remove reference to disqus helper from a template
  ckan/ckanext/ckanext-sixodp_showcase/ckanext/sixodp_showcase/templates/showcase/read.html
Due: ckan

AV-2020: Remove ckanext-disqus submodule
  .gitmodules
Due: none

AV-2020: Remove everything disqus related from drupal
  drupal/modules/avoindata-guide/config/install/core.entity_form_display.node.avoindata_guide_page.default.yml
  drupal/modules/avoindata-guide/config/install/core.entity_view_display.node.avoindata_guide_page.default.yml
  drupal/modules/avoindata-guide/config/install/field.field.node.avoindata_guide_page.field_guide_comments.yml
  drupal/modules/avoindata-guide/config/install/field.storage.node.field_guide_comments.yml
  drupal/modules/avoindata-theme/config/install/core.entity_form_display.node.avoindata_article.default.yml
  drupal/modules/avoindata-theme/config/install/core.entity_form_display.node.avoindata_event.default.yml
  drupal/modules/avoindata-theme/config/install/core.entity_view_display.node.avoindata_article.default.yml
  drupal/modules/avoindata-theme/config/install/core.entity_view_display.node.avoindata_event.default.yml
  drupal/modules/avoindata-theme/config/install/core.entity_view_display.node.page.default.yml
  drupal/modules/avoindata-theme/config/install/field.field.node.avoindata_article.field_article_comments.yml
  drupal/modules/avoindata-theme/config/install/field.field.node.avoindata_event.field_event_comments.yml
  drupal/modules/avoindata-theme/config/install/field.field.node.page.field_basic_page_comments.yml
  drupal/modules/avoindata-theme/config/install/field.storage.node.field_article_comments.yml
  drupal/modules/avoindata-theme/config/install/field.storage.node.field_basic_page_comments.yml
  drupal/modules/avoindata-theme/config/install/field.storage.node.field_event_comments.yml
  drupal/scripts/init_drupal.sh
  drupal/scripts/reinit_drupal.sh
  drupal/site_config/user.role.administrator.yml
  drupal/site_config/user.role.anonymous.yml
  drupal/site_config/user.role.authenticated.yml
  drupal/site_config/user.role.publisher.yml
  drupal/templates/site_config/disqus.settings.yml.j2
Due: none

AV-2020: Remove everything disqus related from ckan
  ckan/Dockerfile
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/disqus_comments.html
  ckan/scripts/install_extensions.sh
Due: ckan

AV-2020: Remove everything disqus related from configs
  cdk/lib/ckan-stack.ts
  cdk/lib/drupal-stack.ts
  cdk/lib/web-stack.ts
  ckan/templates/production.ini.j2
  docker/.env.nginx.local
  docker/.env.template
  docker/docker-compose.yml
  docker/nginx/templates/security_headers.conf.template
Due: cdk

AV-2020: Remove everything disqus related from styles
  opendata-assets/src/less/components/all.less
  opendata-assets/src/less/components/dataset.less
  opendata-assets/src/less/components/disqus.less
  opendata-assets/src/less/components/resource.less
Due: none

AV-2020: Remove disqus from readme
  README.md
Due: none

[skip ci] .env.template updated by new image tags
  docker/.env.template
Due: none

AV-2020: Didn't quite get everything on the first try
  drupal/modules/avoindata-theme/config/install/block.block.aboutopendatamenusv.yml
  drupal/modules/avoindata-theme/config/install/core.entity_form_display.node.avoindata_article.default.yml
  drupal/modules/avoindata-theme/config/install/core.entity_form_display.node.avoindata_event.default.yml
  drupal/modules/avoindata-theme/config/install/core.entity_form_display.node.page.default.yml
  drupal/modules/avoindata-theme/config/install/core.entity_view_display.node.avoindata_article.default.yml
  drupal/modules/avoindata-theme/config/install/core.entity_view_display.node.avoindata_event.default.yml
  drupal/modules/avoindata-theme/config/install/core.entity_view_display.node.page.default.yml
  drupal/modules/avoindata-theme/config/install/field.field.node.page.field_basic_page_comments.yml
  drupal/modules/avoindata-theme/config/install/field.storage.node.field_basic_page_comments.yml
  drupal/modules/avoindata-theme/templates/node/node--page.html.twig
  drupal/scripts/init_drupal.sh
Due: none

AV-2020: Remove disqus dep from recovered files
  drupal/modules/avoindata-theme/config/install/field.field.node.page.field_basic_page_comments.yml
  drupal/modules/avoindata-theme/config/install/field.storage.node.field_basic_page_comments.yml
Due: none

AV-1967: Create databases in lambda
  cdk/bin/opendata.ts
  cdk/lib/database-stack.ts
  cdk/lib/ecs-stack-props.ts
  drupal/modules/avoindata-theme/config/install/field.field.node.page.field_basic_page_comments.yml
  drupal/modules/avoindata-theme/config/install/field.storage.node.field_basic_page_comments.yml
Due: cdk

Upgrade cdk and add lambda required packages
  cdk/package-lock.json
  cdk/package.json
Due: cdk

AV-2020: Please work
  drupal/modules/avoindata-theme/config/install/field.field.node.page.field_basic_page_comments.yml
  drupal/modules/avoindata-theme/config/install/field.storage.node.field_basic_page_comments.yml
  drupal/modules/avoindata-theme/templates/node/node--avoindata-article.html.twig
  drupal/modules/avoindata-theme/templates/node/node--avoindata-event.html.twig
  drupal/modules/avoindata-theme/templates/node/node--avoindata_guide_page.html.twig
  drupal/scripts/init_drupal.sh
Due: none

AV-2020: Uninstall disqus drupal module
  drupal/scripts/init_drupal.sh
Due: none

AV-1967: add missing lambdas
  cdk/cdk.context.json
  cdk/lib/create-databases-and-users-props.ts
  cdk/lib/create-databases-and-users.function.ts
  cdk/lib/create-databases-and-users.ts
  cdk/lib/lambda-stack-props.ts
  cdk/lib/lambda-stack.ts
Due: cdk

add accidentally deleted files
  drupal/modules/avoindata-theme/config/install/field.field.node.page.field_basic_page_comments.yml
  drupal/modules/avoindata-theme/config/install/field.storage.node.field_basic_page_comments.yml
Due: none

AV-1959: Add Zulip notification lambda and an eventbridge rule to feed it
  cdk/functions/zulip.ts
  cdk/lib/ckan-stack.ts
Due: cdk

AV-1959: Simplify zulip lambda, fix synth errors
  cdk/functions/zulip.ts
  cdk/lib/ckan-stack.ts
  cdk/package-lock.json
  cdk/package.json
Due: cdk

AV-1959: Added http types for Zulip lambda
  cdk/package-lock.json
  cdk/package.json
Due: cdk

Revert "AV-1959: Added http types for Zulip lambda"
  cdk/package-lock.json
  cdk/package.json
Due: cdk

AV-1959: switch to a newer node runtime for zulip lambda
  cdk/lib/ckan-stack.ts
Due: cdk

AV-1993: Add third bypass ip
  cdk/lib/load-balancer-stack.ts
Due: cdk

AV-1993: Add fourth bypass ip
  cdk/lib/load-balancer-stack.ts
Due: cdk

Add new dependencies
  cdk/lib/create-databases-and-users.function.ts
  cdk/package-lock.json
  cdk/package.json
Due: cdk

AV-1959: Refactoring, added cloudwatch logging
  cdk/bin/opendata.ts
  cdk/lib/ckan-stack.ts
  cdk/lib/monitoring-stack-props.ts
  cdk/lib/monitoring-stack.ts
Due: cdk

AV-1959: Remove unnecessary imports from ckan-stack
  cdk/lib/ckan-stack.ts
Due: cdk

AV-1967: Use knex to create databases and users
  cdk/lib/create-databases-and-users.function.ts
  cdk/lib/create-databases-and-users.ts
Due: cdk

AV-1959: Try adding tsconfig to functions to fix missing types CI error
  cdk/functions/tsconfig.json
Due: cdk

Avoid logging passwords
  cdk/lib/create-databases-and-users.function.ts
Due: cdk

AV-1959: Update typescript and add dom to tsconfig to fix build errors
  cdk/functions/tsconfig.json
  cdk/package-lock.json
  cdk/package.json
  cdk/tsconfig.json
Due: cdk

AV-1967: Use encryption key while creating database secret
  cdk/lib/database-stack.ts
Due: cdk

AV-1967: Create database cannot be run in transaction
  cdk/lib/create-databases-and-users.function.ts
Due: cdk

Path conditions:
  cdk: any of: cdk/**
  ckan: any of: ckan/ckanext/**
