Repository vrk-kpa/opendata: changes, and which Codecov flags are due for each by the changed paths.
All: cdk, ckan

Upgrade stylelint config standard
  opendata-assets/package-lock.json
  opendata-assets/package.json
Due: none

Authenticate with npm registry
  .github/workflows/check.yml
Due: none

Add less rules
  opendata-assets/.stylelintrc
  opendata-assets/package-lock.json
  opendata-assets/package.json
Due: none

Fix various style issues
  opendata-assets/src/less/ckan/upstream-overrides.less
  opendata-assets/src/less/common.less
  opendata-assets/src/less/components/advanced_search.less
  opendata-assets/src/less/components/buttons.less
  opendata-assets/src/less/components/dataset.less
  opendata-assets/src/less/components/forms.less
  opendata-assets/src/less/components/layout.less
  opendata-assets/src/less/components/list--resource.less
  opendata-assets/src/less/components/media-grid.less
  opendata-assets/src/less/components/navigation.less
  opendata-assets/src/less/components/pagination.less
  opendata-assets/src/less/components/reports.less
  opendata-assets/src/less/components/showcase.less
  opendata-assets/src/less/components/sidebar.less
  opendata-assets/src/less/components/statistics.less
  opendata-assets/src/less/drupal/component/ajax.less
  opendata-assets/src/less/drupal/component/filter.less
  opendata-assets/src/less/drupal/component/form.less
  opendata-assets/src/less/drupal/component/tabs.less
  opendata-assets/src/less/drupal/custom-elements.less
  opendata-assets/src/less/drupal/guide.less
  opendata-assets/src/less/drupal/jquery-ui/autocomplete.less
  opendata-assets/src/less/drupal/menu.less
  opendata-assets/src/less/drupal/overrides.less
  opendata-assets/src/less/mixins/mixins.less
  opendata-assets/src/less/navbars.less
  opendata-assets/src/less/offcanvas.less
  opendata-assets/src/less/responsive.less
Due: none

verbose formatter fails in an error
  opendata-assets/gulpfile.js
Due: none

Less doesnt cope with range media queries
  opendata-assets/.stylelintrc
  opendata-assets/src/less/components/forms.less
  opendata-assets/src/less/components/layout.less
  opendata-assets/src/less/drupal/overrides.less
  opendata-assets/src/less/navbars.less
Due: none

AV-2067: Add CI test stack
  cdk/bin/opendata.ts
  cdk/lib/ci-test-stack-props.ts
  cdk/lib/ci-test-stack.ts
Due: cdk

Expiration needs to be in days
  cdk/lib/ci-test-stack.ts
Due: cdk

Add beta suffix
  cdk/bin/opendata.ts
Due: cdk

Only one provider with the same URL can be on one AWS account
  cdk/bin/opendata.ts
  cdk/lib/ci-test-stack.ts
Due: cdk

Use different credential for running tests
  .github/workflows/test.yml
Due: none

Trigger tests
  ckan/Dockerfile
Due: none

AV-2017: Rest of the plugins
  drupal/modules/avoindata-ckeditor5-plugins/avoindata_ckeditor5_plugins.ckeditor5.yml
  drupal/modules/avoindata-ckeditor5-plugins/avoindata_ckeditor5_plugins.info.yml
  drupal/modules/avoindata-ckeditor5-plugins/avoindata_ckeditor5_plugins.libraries.yml
  drupal/modules/avoindata-ckeditor5-plugins/avoindata_ckeditor5_plugins.module
  drupal/modules/avoindata-ckeditor5-plugins/css/editor.css
  drupal/modules/avoindata-ckeditor5-plugins/css/toolbar-icons.css
  drupal/modules/avoindata-ckeditor5-plugins/icons/icon-example.svg
  drupal/modules/avoindata-ckeditor5-plugins/icons/icon-expander.svg
  drupal/modules/avoindata-ckeditor5-plugins/icons/icon-hint.svg
  drupal/modules/avoindata-ckeditor5-plugins/icons/icon-note.svg
  drupal/modules/avoindata-ckeditor5-plugins/icons/icon-section.svg
  drupal/modules/avoindata-ckeditor5-plugins/icons/icon-window.svg
  drupal/modules/avoindata-ckeditor5-plugins/js/avoindataExample.js
  drupal/modules/avoindata-ckeditor5-plugins/js/avoindataExpander.js
  drupal/modules/avoindata-ckeditor5-plugins/js/avoindataHint.js
  drupal/modules/avoindata-ckeditor5-plugins/js/avoindataNote.js
  drupal/modules/avoindata-ckeditor5-plugins/js/avoindataSection.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataExample/avoindataExample.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataExample/avoindataExampleEditing.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataExample/avoindataExampleUI.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataExample/index.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataExample/insertAvoindataExampleCommand.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataHint/avoindataHintEditing.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataHint/avoindataHintUI.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataHint/insertAvoindataHintCommand.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataNote/avoindataNoteEditing.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataSection/avoindataSection.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataSection/avoindataSectionEditing.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataSection/avoindataSectionUI.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataSection/avoindataSectionView.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataSection/index.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataSection/insertAvoindataSectionCommand.js
  drupal/modules/avoindata-ckeditor5-plugins/webpack.config.js
  drupal/scripts/init_drupal.sh
  opendata-assets/src/less/drupal/custom-elements.less
Due: none

Output credentials for docker compose
  .github/workflows/test.yml
Due: none

Use python-dotenv instead of sed
  .github/workflows/test.yml
Due: none

Tests need a read permission to test bucket
  cdk/lib/ci-test-stack.ts
Due: cdk

AV-2067: Add aws session info to resourcestatus tag fetching
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/resourcestatusplugin.py
Due: ckan

convert cloudstorage driver options to json dict
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/resourcestatusplugin.py
Due: ckan

Driver options might not be valid json
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/resourcestatusplugin.py
Due: ckan

AV-2017: Add external link icons
  drupal/modules/avoindata-ckeditor5-plugins/css/editor.css
  drupal/modules/avoindata-ckeditor5-plugins/css/style.css
  drupal/modules/avoindata-ckeditor5-plugins/icons/icon-external-link.svg
  drupal/modules/avoindata-ckeditor5-plugins/js/externalLink.js
  drupal/modules/avoindata-ckeditor5-plugins/src/externalLink/externalLink.js
  opendata-assets/src/images/icon-external-link.svg
  opendata-assets/src/less/drupal/custom-elements.less
Due: none

Use yaml.safe_load instead of hacky string replacement with json.loads
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/resourcestatusplugin.py
Due: ckan

AV-2064: Disable CKAN resource proxy
  cdk/lib/ckan-stack.ts
  docker/.env.ckan.local
Due: cdk

[skip ci] .env.template updated by new image tags
  docker/.env.template
Due: none

AV-2061: Add new block to drupal frontpage for linking to suojattudata
  drupal/modules/avoindata-explore/avoindata_explore.module
  drupal/modules/avoindata-explore/src/Plugin/Block/ExternalBlock.php
  drupal/modules/avoindata-explore/templates/avoindata_external_block.html.twig
  drupal/modules/avoindata-theme/config/install/block.block.avoindata_external.yml
  opendata-assets/src/images/logo-suomifi.svg
  opendata-assets/src/less/drupal/overrides.less
Due: none

AV-1959: fix container state zulip notifications
  cdk/lib/lambda-stack.ts
  cdk/lib/monitoring-stack.ts
  cdk/lib/send-to-zulip.function.ts
  cdk/lib/send-to-zulip.ts
  cdk/package-lock.json
  cdk/package.json
Due: cdk

AV-2017: Add conversions for previous ckeditor4 plugin formats
  drupal/modules/avoindata-ckeditor5-plugins/css/editor.css
  drupal/modules/avoindata-ckeditor5-plugins/css/style.css
  drupal/modules/avoindata-ckeditor5-plugins/js/avoindataHint.js
  drupal/modules/avoindata-ckeditor5-plugins/js/avoindataNote.js
  drupal/modules/avoindata-ckeditor5-plugins/js/avoindataSection.js
  drupal/modules/avoindata-ckeditor5-plugins/js/externalLink.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataHint/avoindataHintEditing.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataHint/insertAvoindataHintCommand.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataNote/avoindataNoteEditing.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataNote/insertAvoindataNoteCommand.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataSection/avoindataSectionEditing.js
  drupal/modules/avoindata-ckeditor5-plugins/src/externalLink/externalLink.js
  opendata-assets/src/less/drupal/custom-elements.less
Due: none

AV-2004: Send copies of organization approvals to admins
  ckan/templates/production.ini.j2
Due: none

AV-2061: Add suojattudata link to header
  drupal/modules/avoindata-header/templates/avoindata_header.html.twig
  opendata-assets/src/less/navbars.less
Due: none

lint
  opendata-assets/src/less/drupal/overrides.less
  opendata-assets/src/less/navbars.less
Due: none

AV-2058: Add subdomain stack for beta environment
  cdk/bin/opendata.ts
  cdk/lib/sub-domain-stack-props.ts
  cdk/lib/sub-domain-stack.ts
Due: cdk

AV-2004: Read organization approval email address list from a variable
  cdk/lib/ckan-stack.ts
  ckan/templates/production.ini.j2
  docker/.env.template
Due: cdk

Use correct color from palette
  opendata-assets/src/less/navbars.less
Due: none

AV-1959: Use correct detail field
  cdk/lib/monitoring-stack.ts
Due: cdk

AV-2017: Attempted cleanup
  drupal/modules/avoindata-ckeditor5-plugins/avoindata_ckeditor5_plugins.ckeditor5.yml
  drupal/modules/avoindata-ckeditor5-plugins/avoindata_ckeditor5_plugins.libraries.yml
  drupal/modules/avoindata-ckeditor5-plugins/js/avoindataExample.js
  drupal/modules/avoindata-ckeditor5-plugins/js/avoindataExpander.js
  drupal/modules/avoindata-ckeditor5-plugins/js/avoindataHint.js
  drupal/modules/avoindata-ckeditor5-plugins/js/avoindataNote.js
  drupal/modules/avoindata-ckeditor5-plugins/js/avoindataSection.js
  drupal/modules/avoindata-ckeditor5-plugins/js/externalLink.js
  drupal/modules/avoindata-ckeditor5-plugins/package-lock.json
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataExample/avoindataExampleEditing.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataExample/avoindataExampleUI.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataExample/insertAvoindataExampleCommand.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataExpander/avoindataExpanderEditing.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataExpander/avoindataExpanderUI.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataExpander/insertAvoindataExpanderCommand.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataHint/avoindataHintEditing.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataHint/avoindataHintUI.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataHint/insertAvoindataHintCommand.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataNote/avoindataNoteEditing.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataNote/insertAvoindataNoteCommand.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataSection/avoindataSectionUI.js
  drupal/modules/avoindata-ckeditor5-plugins/src/externalLink/externalLink.js
  drupal/modules/avoindata-ckeditor5-plugins/src/externalLink/index.js
  drupal/modules/avoindata-ckeditor5-plugins/webpack.config.js
Due: none

AV-2055: Add pg_trgm extension to database as drupal 10 requires it
  docker/postgres/docker-entrypoint-initdb.d/00_init_db.sh
Due: none

AV-2017: Fixes
  drupal/modules/avoindata-ckeditor5-plugins/avoindata_ckeditor5_plugins.libraries.yml
  drupal/modules/avoindata-ckeditor5-plugins/css/style.css
  drupal/modules/avoindata-ckeditor5-plugins/css/styles.css
  drupal/modules/avoindata-ckeditor5-plugins/css/toolbar-icons.css
  drupal/modules/avoindata-ckeditor5-plugins/js/avoindataExample.js
  drupal/modules/avoindata-ckeditor5-plugins/js/avoindataExpander.js
  drupal/modules/avoindata-ckeditor5-plugins/js/avoindataExternalLink.js
  drupal/modules/avoindata-ckeditor5-plugins/js/avoindataHint.js
  drupal/modules/avoindata-ckeditor5-plugins/js/avoindataNote.js
  drupal/modules/avoindata-ckeditor5-plugins/js/avoindataSection.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataExample/avoindataExample.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataExpander/avoindataExpander.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataExternalLink/avoindataExternalLink.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataExternalLink/index.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataHint/avoindataHint.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataNote/avoindataNote.js
  drupal/modules/avoindata-ckeditor5-plugins/src/avoindataSection/avoindataSection.js
  drupal/modules/avoindata-ckeditor5-plugins/webpack.config.js
  drupal/site_config/editor.editor.ckeditor5.yml
  drupal/site_config/filter.format.ckeditor5.yml
  opendata-assets/gulpfile.js
  opendata-assets/src/less/drupal/custom-elements.less
  opendata-assets/src/less/drupal/editor.less
Due: none

Lint
  drupal/modules/avoindata-ckeditor5-plugins/css/styles.css
  opendata-assets/gulpfile.js
  opendata-assets/src/less/drupal/custom-elements.less
  opendata-assets/src/less/drupal/editor.less
Due: none

AV-2017: Add permissions for the editor and publisher roles
  drupal/scripts/init_drupal.sh
  drupal/site_config/user.role.editor.yml
  drupal/site_config/user.role.publisher.yml
Due: none

Path conditions:
  cdk: any of: cdk/**
  ckan: any of: ckan/ckanext/**
