Repository vrk-kpa/opendata: changes, and which Codecov flags are due for each by the changed paths.
All: cdk, ckan

AV-2273: Update minor versions
  drupal/composer.lock
Due: none

Remove fontawesome_menu_icons, its not used
  drupal/scripts/init_drupal.sh
Due: none

AV-2273: Upgrade captcha
  drupal/composer.json
  drupal/composer.lock
Due: none

AV-2273: Upgrade metatag
  drupal/composer.json
  drupal/composer.lock
Due: none

AV-2273: Upgrade sentry
  drupal/composer.json
  drupal/composer.lock
Due: none

Upgrade php in linting
  .github/workflows/check.yml
Due: none

AV-2273: Update and enable fontawesome module separately, as it was previously enabled through dependencies
  drupal/composer.json
  drupal/composer.lock
  drupal/scripts/init_drupal.sh
Due: none

AV-2249: Increase amount of containers for ckan in prod
  cdk/bin/opendata.ts
Due: cdk

[skip ci] .env.template updated by new image tags
  docker/.env.template
Due: none

AV-2234: Fix report grid alignment
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/report/index.html
  opendata-assets/src/less/components/reports.less
Due: ckan

Use setup-node caching instead of our own and update some actions
  .github/workflows/check.yml
  .github/workflows/master.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
Due: none

Add build failure notifications
  .github/workflows/master.yml
  .github/workflows/prod.yml
Due: none

AV-2187: Migrate clamav s3 scanner app to official clamav docker image
  clamav/clamav-docker/Dockerfile
  clamav/clamav-docker/entrypoint.sh
  clamav/clamav-docker/requirements.txt
  clamav/clamav-docker/src/clamscan.py
Due: none

AV-2187: Build ClamAV image in CI
  .github/workflows/changes.yml
  .github/workflows/master.yml
  .github/workflows/test.yml
  cdk/bin/opendata.ts
  cdk/lib/env-props.ts
Due: cdk

AV-2187: Add clamav image to mock-constructs
  cdk/test/mock-constructs.ts
Due: cdk

AV-2187: Revert cdk changes to just build the image
  cdk/bin/opendata.ts
  cdk/lib/env-props.ts
  cdk/test/mock-constructs.ts
Due: cdk

AV-2277: Decrease scaling trigger on ckan and drupal services
  cdk/lib/ckan-stack.ts
  cdk/lib/drupal-stack.ts
Due: cdk

use npx to run cdk commands
  .github/workflows/master.yml
Due: none

Use npx to run cdk commands
  .github/workflows/prod.yml
Due: none

AV-2187: Add placeholder CLAMAV_IMAGE_TAG to .env.template to be overridden by CI
  docker/.env.template
Due: none

AV-2226: Update dependabot configuration to update ckan requirements, github actions, missing docker files and cdk dependecies
  .github/dependabot.yml
Due: none

Add dependabot validation workflow
  .github/workflows/dependabot-validate.yml
Due: none

Install jinja-cli with apk instead of pip
  docker/nginx/Dockerfile
Due: none

download-artifact version needs to match upload-artifact
  .github/workflows/test.yml
Due: none

AV-2187: First draft of clamav scanner CDK port
  cdk/bin/opendata.ts
  cdk/lib/clamav-scan-props.ts
  cdk/lib/clamav-scan.function.ts
  cdk/lib/clamav-scan.ts
  cdk/lib/clamav-scanner-stack-props.ts
  cdk/lib/clamav-scanner-stack.ts
  cdk/lib/env-props.ts
  cdk/lib/lambda-stack.ts
  cdk/lib/monitoring-stack.ts
  cdk/package-lock.json
  cdk/package.json
  cdk/test/mock-constructs.ts
Due: cdk

Update container to match local version
  cypress/Dockerfile
Due: none

Allow dependabot to update cypress container
  .github/dependabot.yml
Due: none

AV-2187: Use SNS topic for all zulip messages
  cdk/bin/opendata.ts
  cdk/lib/clamav-scanner-stack.ts
  cdk/lib/lambda-stack.ts
  cdk/lib/monitoring-stack-props.ts
  cdk/lib/monitoring-stack.ts
Due: cdk

Use v4 for the action instead
  .github/workflows/master.yml
  .github/workflows/prod.yml
  .github/workflows/restart_beta_containers.yml
  .github/workflows/restart_prod_containers.yml
  .github/workflows/test.yml
Due: none

Add codecov action@v4 dependencies
  .github/workflows/test.yml
Due: none

Add token to cdk codecov upload
  .github/workflows/test.yml
Due: none

Trigger build and tests
  opendata-assets/README.md
Due: none

Add extra directory to separate images from other artifacts
  .github/workflows/test.yml
Due: none

Path conditions:
  cdk: any of: cdk/**
  ckan: any of: ckan/ckanext/**
