Repository vrk-kpa/opendata: changes, and which Codecov flags are due for each by the changed paths.
All: cdk, ckan

codecov.yml:

component_management:
  individual_components:
    - component_id: cdk
      paths:
        - cdk/**
      statuses:
        - type: project
          target: 95%
        - type: patch
          target: 100%
    - component_id: ckan
      carryforward: true
      paths:
        - ckan/ckanext/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
        - type: patch
          target: 90%

AV-2202: Fix server error in package_show api
  ckan/Dockerfile
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
  ckan/src/ckan/patches/fix_use_default_schema_parameter.patch
Due: ckan

AV-2202: Add test for translated categories
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/tests/test_plugin.py
  ckan/ckanext/ckanext-ytp_main/test.ini
Due: ckan

AV-2202: Store testable strings in variables
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/tests/test_plugin.py
Due: ckan

[skip ci] .env.template updated by new image tags
  docker/.env.template
Due: none

AV-2205: Update CKAN to 2.9.11
  ckan/Dockerfile
  ckan/ckan-requirements.in
  ckan/ckan-requirements.txt
Due: none

Update route based on upstream harvest, routes are flask based now
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/source/read_base.html
Due: ckan

admin_link block has been removed from ckanext-harvest and it is no longer required in our code either
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/source/read_base.html
Due: ckan

Add workflow for notifying about open PRs
  .github/workflows/open_prs.yml
Due: none

typo
  .github/workflows/open_prs.yml
Due: none

test
  .github/workflows/open_prs.yml
Due: none

Add id for fetch step
  .github/workflows/open_prs.yml
Due: none

Run workflow on push
  .github/workflows/open_prs.yml
Due: none

Send open prs to zulip
  .github/workflows/open_prs.yml
Due: none

Add dependabot to ignored users
  .github/workflows/open_prs.yml
Due: none

Replace push with schedule
  .github/workflows/open_prs.yml
Due: none

AV-2006: Allow cron container to upload files to s3
  cdk/lib/ckan-stack.ts
Due: cdk

AV-2006: Allow connections from cron container to datapusher and back
  cdk/lib/ckan-stack.ts
Due: cdk

Add ckanext-matomo to open prs workflow
  .github/workflows/open_prs.yml
Due: none

AV-2183: Upgrade redis in local environment
  docker/.env.template
Due: none

AV-2183: Upgrade redis in cdk
  cdk/bin/opendata.ts
Due: cdk

AV-2183: Add slow logs to cloudwatch
  cdk/lib/cache-stack.ts
Due: cdk

Fix redis engine version, 7.x does not exist
  cdk/bin/opendata.ts
Due: cdk

AV-2050: Delete twitter feed from drupal and csp headers related to it
  cdk/lib/web-stack.ts
  doc/custom-modules-drupal.md
  docker/.env.nginx.local
  drupal/modules/avoindata-articles/templates/avoindata_articles_block.html.twig
Due: cdk

Revert "AV-2030: Increase prod datastore ephemeral storage"
  cdk/bin/opendata.ts
  cdk/lib/ckan-stack.ts
  cdk/lib/ecs-stack-props.ts
Due: cdk

AV-2179: Delete enable postgis script as postgis is no longer required
  ckan/scripts/enable_postgis_rds.sql
Due: none
