Repository vrk-kpa/opendata: changes, and which Codecov flags are due for each by the changed paths.
All: cdk, ckan

AV-2055: uninstall deprecated modules
  drupal/scripts/init_drupal.sh
Due: none

ruff format is now output-format
  .github/workflows/check.yml
Due: none

AV-2079: Set cloudstorage driver_options to empty string, as resource_status is expecting some value for it
  cdk/lib/ckan-stack.ts
Due: cdk

[skip ci] .env.template updated by new image tags
  docker/.env.template
Due: none

AV-2055: Whitespace matters in script
  drupal/scripts/init_drupal.sh
Due: none

Search and page_cache does not exist
  drupal/scripts/init_drupal.sh
Due: none

node_types were removed and replaced by entity_bundle:node which are already configured
  drupal/modules/avoindata-theme/config/install/block.block.guidemenuen.yml
  drupal/modules/avoindata-theme/config/install/block.block.guidemenufi.yml
  drupal/modules/avoindata-theme/config/install/block.block.guidemenusv.yml
Due: none

remove version limit from composer
  .github/workflows/check.yml
Due: none

AV-2082: Better CKAN UWSGI configuration with per environment parallelization
  cdk/lib/ckan-stack.ts
  ckan/Dockerfile
  ckan/scripts/init_ckan.sh
  ckan/scripts/reinit_ckan.sh
  ckan/templates/ckan-uwsgi.ini.j2
  docker/.env.ckan.local
Due: cdk

AV-2082: Make CKAN uwsgi configurable without parameter store
  cdk/bin/opendata.ts
  cdk/lib/ckan-stack-props.ts
  cdk/lib/ckan-stack.ts
  cdk/lib/ckan-uwsgi-props.ts
Due: cdk

AV-2082: Fix cdk tests
  cdk/test/ckan-stack.test.ts
Due: cdk

Remove leftover drupal dependencies to basic types
  drupal/modules/avoindata-theme/config/install/core.entity_form_display.node.page.default.yml
  drupal/modules/avoindata-theme/config/install/core.entity_view_display.node.page.default.yml
  drupal/modules/avoindata-theme/config/install/field.field.node.page.field_image.yml
  drupal/modules/avoindata-theme/config/install/language.content_settings.node.page.yml
  drupal/modules/avoindata-theme/config/install/node.type.page.yml
Due: none

Delete leftover core fields
  drupal/scripts/init_drupal.sh
Due: none

Themes are unistalled with different command
  drupal/scripts/init_drupal.sh
Due: none

Deleting page type left with page permissions
  drupal/site_config/user.role.publisher.yml
Due: none

AV-2082: remove periodic worker restarts
  ckan/templates/ckan-uwsgi.ini.j2
Due: none

AV-2055: move guide related search configurations from them to guide module
  drupal/modules/avoindata-guide/config/install/search_api.index.guide_search.yml
  drupal/modules/avoindata-guide/config/install/views.view.guide_search.yml
Due: none

node_type is now "entity_bundle:node"
  drupal/modules/avoindata-articles/config/install/pathauto.pattern.article_pattern_english.yml
  drupal/modules/avoindata-articles/config/install/pathauto.pattern.article_pattern_finnish.yml
  drupal/modules/avoindata-articles/config/install/pathauto.pattern.article_pattern_swedish.yml
  drupal/modules/avoindata-events/config/install/pathauto.pattern.event_pattern_english.yml
  drupal/modules/avoindata-events/config/install/pathauto.pattern.event_pattern_finnish.yml
  drupal/modules/avoindata-events/config/install/pathauto.pattern.event_pattern_swedish.yml
  drupal/modules/avoindata-guide/config/install/pathauto.pattern.guide_page_pattern.yml
  drupal/modules/avoindata-guide/config/install/pathauto.pattern.guide_page_pattern_finnish_.yml
  drupal/modules/avoindata-guide/config/install/pathauto.pattern.guide_page_pattern_swedish_.yml
Due: none

Remove uninstall of ckeditor, its already uninstalled
  drupal/scripts/init_drupal.sh
Due: none

Use dynamic process scaling in uwsgi
  ckan/templates/ckan-uwsgi.ini.j2
Due: none

Decrease the amount of processes on beta
  cdk/bin/opendata.ts
Due: cdk

Update test
  cypress/e2e/contact_spec.js
Due: none

Increase production CKAN uWSGI process count
  cdk/bin/opendata.ts
Due: cdk

Revert deleting content type page
  drupal/scripts/init_drupal.sh
Due: none

Update translations
  ckan/ckanext/ckanext-advancedsearch/ckanext/advancedsearch/i18n/en_GB/LC_MESSAGES/ckanext-advancedsearch.po
  ckan/ckanext/ckanext-advancedsearch/ckanext/advancedsearch/i18n/fi/LC_MESSAGES/ckanext-advancedsearch.po
  ckan/ckanext/ckanext-advancedsearch/ckanext/advancedsearch/i18n/sv/LC_MESSAGES/ckanext-advancedsearch.po
  ckan/ckanext/ckanext-sixodp_showcase/ckanext/sixodp_showcase/i18n/en_GB/LC_MESSAGES/ckanext-sixodp_showcase.po
  ckan/ckanext/ckanext-sixodp_showcase/ckanext/sixodp_showcase/i18n/fi/LC_MESSAGES/ckanext-sixodp_showcase.po
  ckan/ckanext/ckanext-sixodp_showcase/ckanext/sixodp_showcase/i18n/sv/LC_MESSAGES/ckanext-sixodp_showcase.po
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/i18n/en_GB/LC_MESSAGES/ckanext-ytp_main.po
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/i18n/sv/LC_MESSAGES/ckanext-ytp_main.po
  drupal/i18n/en_GB/drupal.po
  drupal/i18n/fi/drupal.po
  drupal/i18n/sv/drupal.po
Due: ckan

Add show less to js translations
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/i18n/ckanext-ytp_main.pot
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/i18n/en_GB/LC_MESSAGES/ckanext-ytp_main.po
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/i18n/fi/LC_MESSAGES/ckanext-ytp_main.po
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/i18n/sv/LC_MESSAGES/ckanext-ytp_main.po
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/resources/opendata/scripts/translations.js
Due: ckan

Nodejs is not required, and its install was failing
  drupal/Dockerfile
Due: none

Cleanup based on review
  drupal/scripts/init_drupal.sh
Due: none

Add new dev_mode module to replace setting dev mode with drupal console, as console is not drupal10 compatible
  drupal/composer.json
  drupal/composer.lock
  drupal/scripts/init_drupal.sh
  drupal/scripts/reinit_drupal.sh
Due: none

Add FAQ menu and block
  drupal/modules/avoindata-theme/config/install/block.block.faqmenufi.yml
  drupal/modules/avoindata-theme/config/install/system.menu.faq-menu-fi.yml
Due: none

Path conditions:
  cdk: any of: cdk/**
  ckan: any of: ckan/ckanext/**
