Repository vrk-kpa/opendata: changes, and which Codecov flags are due for each by the changed paths.
All: cdk, ckan

[skip ci] .env.template updated by new image tags
  docker/.env.template
Due: none

AV-689: fix previous fixes
  drupal/modules/avoindata-theme/js/cycle_guide_menu_items.js
  opendata-assets/src/less/drupal/menu.less
Due: none

AV-689: don't add ordinals when not requested
  drupal/modules/avoindata-theme/js/cycle_guide_menu_items.js
Due: none

AV-689: Disable guide menu stickiness in mobile
  opendata-assets/src/less/drupal/menu.less
Due: none

AV-689: Convert guide tables to bootstrap responsive oens
  drupal/modules/avoindata-theme/avoindata.libraries.yml
  drupal/modules/avoindata-theme/templates/node/node--avoindata_guide_page.html.twig
  opendata-assets/gulpfile.js
  opendata-assets/src/scripts/inject_responsive_tables.js
Due: none

AV-2107: fix footer links by removing unnecessary default collapse
  drupal/modules/avoindata-theme/templates/menu/vertical-menu-base-template.html.twig
Due: none

AV-2044: move maintainer notes within dataset form
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/schemas/dataset.json
Due: ckan

AV-2101: Implement print style for guide pages
  drupal/modules/avoindata-theme/js/cycle_guide_menu_items.js
  opendata-assets/src/less/drupal/custom-elements.less
  opendata-assets/src/less/drupal/guide.less
  opendata-assets/src/less/drupal/menu.less
  opendata-assets/src/less/drupal/overrides.less
  opendata-assets/src/less/offcanvas.less
Due: none

stylelint
  opendata-assets/src/less/drupal/custom-elements.less
  opendata-assets/src/less/drupal/guide.less
  opendata-assets/src/less/drupal/overrides.less
  opendata-assets/src/less/offcanvas.less
Due: none

AV-2102: Fix mobile layout heading padding
  opendata-assets/src/less/drupal/guide.less
Due: none

AV-2101: retain link color in print layout
  opendata-assets/src/less/common.less
Due: none

AV-2101: Fix only first page printing in guide
  opendata-assets/src/less/drupal/overrides.less
Due: none

AV-2101: Add list of subheadings to guide print layout
  drupal/modules/avoindata-theme/templates/node/node--avoindata_guide_page.html.twig
  opendata-assets/src/less/drupal/guide.less
Due: none

stylelint
  opendata-assets/src/less/common.less
  opendata-assets/src/less/drupal/guide.less
Due: none

AV-2112: make table style similar to design system
  opendata-assets/src/less/drupal/custom-elements.less
  opendata-assets/src/less/variables/palette.less
  opendata-assets/src/less/variables/spacing.less
Due: none

stylelint
  opendata-assets/src/less/drupal/custom-elements.less
Due: none

AV-2111: Added hreflang links to CKAN pages
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/base.html
Due: ckan

AV-2089: Add a11y metadata to expander headers
  drupal/modules/avoindata-theme/js/avoindata_custom_elements.js
Due: none

AV-2113: Upgrade ckan to 2.9.10
  ckan/Dockerfile
  ckan/ckan-requirements.in
  ckan/ckan-requirements.txt
Due: none

Add Libpq-dev for compiling requirements in container
  .gitmodules
  ckan/Dockerfile
Due: none

Remove miscommitted submodule
  .gitmodules
Due: none

Add Libpq-dev for compiling requirements in container
  ckan/Dockerfile
Due: none

AV-2109: Fix guide content centering on wide displays
  opendata-assets/src/less/drupal/guide.less
Due: none

stylelint
  opendata-assets/src/less/drupal/guide.less
Due: none

AV-2105: Add data updated field to UI and add timestamps as well
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/package/resource_read.html
Due: ckan

AV-2105: Update tests
  cypress/e2e/dataset_resource_spec.js
Due: none

AV-2038: Add shield and waf to cdk
  cdk/bin/opendata.ts
  cdk/lib/shield-stack-props.ts
  cdk/lib/shield-stack.ts
Due: cdk

AV-2038: Add ckd.context.json to .gitignore as it might contain private information
  cdk/.gitignore
Due: cdk

AV-2028: Remove cdk.context.json from version control
  cdk/cdk.context.json
Due: cdk

Fix parsing vpc id, it was in context which no longer is in version control
  cdk/bin/opendata.ts
  cdk/lib/cluster-stack-props.ts
  cdk/lib/cluster-stack.ts
Due: cdk

Path conditions:
  cdk: any of: cdk/**
  ckan: any of: ckan/ckanext/**
