Repository vrk-kpa/opendata: changes, and which Codecov flags are due for each by the changed paths.
All: cdk, ckan

AV-2418: Add validate packages feature to syke harvester
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/harvesters/syke_harvester.py
Due: ckan

AV-2421: Call drupal apis directly if cookies do not exist
  cdk/lib/ckan-stack.ts
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
  ckan/templates/production.ini.j2
  docker/.env.ckan.local
Due: cdk, ckan

AV-2421: Call ckan apis directly, bypassing load balancer and nginx container
  cdk/lib/drupal-stack.ts
  docker/.env.drupal.local
  drupal/modules/avoindata-categories/avoindata_categories.module
  drupal/modules/avoindata-hero/avoindata_hero.module
Due: cdk

AV-2421: Allow direct connections between ckan and drupal
  cdk/lib/web-stack.ts
Due: cdk

AV-2421: Only fetch list of names on showcases and apisets
  ckan/ckanext/ckanext-sixodp_showcase/ckanext/sixodp_showcase/logic/action/get.py
  drupal/modules/avoindata-hero/avoindata_hero.module
Due: ckan

AV-2421: Actual datasets are not needed, only the count is needed
  drupal/modules/avoindata-hero/avoindata_hero.module
Due: none

[skip ci] .env.template updated by new image tags
  docker/.env.template
Due: none

Only fetch names from database if nothing else is needed
  ckan/ckanext/ckanext-sixodp_showcase/ckanext/sixodp_showcase/logic/action/get.py
Due: ckan

AV-2421: Create single api for frontpage hero statistics
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
  drupal/modules/avoindata-hero/avoindata_hero.module
  drupal/modules/avoindata-hero/src/Plugin/Block/HeroBlock.php
  drupal/modules/avoindata-hero/templates/avoindata_hero_form.html.twig
Due: ckan

Lint
  drupal/modules/avoindata-hero/src/Plugin/Block/HeroBlock.php
Due: none

Added simple test
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/tests/test_plugin.py
Due: ckan

env variable contains protocol
  drupal/modules/avoindata-hero/avoindata_hero.module
Due: none

use correct plugin names
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
Due: ckan

lint
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
Due: ckan

Remove comment fields that arent required anymore
  drupal/scripts/init_drupal.sh
Due: none

Delete deprecated tour module, it is not used anywhere
  drupal/scripts/init_drupal.sh
Due: none

Enable output buffering as drupal recommends it
  drupal/configurations/uploads.ini
Due: none

Remove transliterate filenames, its in drupal core now
  drupal/scripts/init_drupal.sh
Due: none

Refresh drupal settings.php from default.settings.php to include new settings
  drupal/templates/settings.php.j2
Due: none

Refresh services.yml from default.services.yml
  drupal/templates/services.yml.j2
Due: none

Add ACPu to container
  drupal/Dockerfile
  drupal/configurations/uploads.ini
Due: none

Add uploadprogress extension to container
  drupal/Dockerfile
  drupal/configurations/uploads.ini
Due: none

Remove deleting fields through config, it does nothing
  drupal/scripts/init_drupal.sh
Due: none

Update sentry extension and modify log level as extensions usually use a lot of debug level
  cdk/lib/ckan-stack.ts
  ckan/templates/production.ini.j2
Due: cdk

Remove installing requirements.txt for sentry as the contents was moved to pyproject.toml
  ckan/Dockerfile
  ckan/scripts/install_extension_requirements.sh
Due: none

Replace cron with supercronic, does not require running as root
  cdk/lib/ckan-stack.ts
  ckan/Dockerfile
  ckan/scripts/entrypoint_cron.sh
  docker/docker-compose.yml
Due: cdk

Fix healthcheck from cron to supercronic
  cdk/lib/ckan-stack.ts
Due: cdk

fix health check in docker compose
  docker/docker-compose.yml
Due: none

AV-2418: Remove harvested information about harvesting which broke solr queries
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/harvesters/syke_harvester.py
Due: ckan

AV-2236: Add highvalue category harvesting support to spatial harvesters
  ckan/templates/production.ini.j2
Due: none

Path conditions:
  cdk: any of: cdk/**
  ckan: any of: ckan/ckanext/**
