Repository vrk-kpa/opendata: changes, and which Codecov flags are due for each by the changed paths.
All: cdk, ckan

codecov.yml:

component_management:
  individual_components:
    - component_id: cdk
      paths:
        - cdk/**
      statuses:
        - type: project
          target: 95%
        - type: patch
          target: 100%
    - component_id: ckan
      carryforward: true
      paths:
        - ckan/ckanext/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
        - type: patch
          target: 90%

AV-2010: Fix firewall from cron container to datastore
  cdk/lib/ckan-stack.ts
Due: cdk

AV-2010: Add multi az parameter to stacks, true in production
  cdk/bin/opendata.ts
  cdk/lib/database-stack.ts
  cdk/lib/rds-stack-props.ts
  cdk/test/ckan-stack.test.ts
  cdk/test/database-stack.test.ts
  cdk/test/drupal-stack.test.ts
Due: cdk

AV-2034: Fix header search breaking on consecutive searches with special characters
  drupal/modules/avoindata-header/src/Controller/HeaderController.php
  drupal/modules/avoindata-header/src/Plugin/Form/SearchForm.php
Due: none

AV-2034: Drupal style fixes
  drupal/modules/avoindata-header/src/Plugin/Form/SearchForm.php
Due: none

Style fixes
  ckan/ckanext/ckanext-advancedsearch/ckanext/advancedsearch/controller.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/cli.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/dcat.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
Due: ckan

Remove ckanext-datarequests
  .gitmodules
  cdk/lib/ckan-stack.ts
  ckan/Dockerfile
  ckan/scripts/install_extensions.sh
  ckan/templates/production.ini.j2
Due: cdk

AV-2053: Increase cron container cpu to 2 vcpu
  cdk/bin/opendata.ts
Due: cdk

Add finnish FAQ menu to drupal
  drupal/modules/avoindata-theme/js/cycle_guide_menu_items.js
  drupal/modules/avoindata-theme/templates/block/block--faqmenufi.html.twig
Due: none

[skip ci] .env.template updated by new image tags
  docker/.env.template
Due: none

Add finnish faq menu handling to theme
  drupal/modules/avoindata-theme/avoindata.theme
Due: none

fix syntax error
  drupal/modules/avoindata-theme/avoindata.theme
Due: none

Fix wrong id in menu link selector
  drupal/modules/avoindata-theme/js/cycle_guide_menu_items.js
Due: none

AV-2066: Cache node_modules in CI workflows
  .github/workflows/master.yml
  .github/workflows/test.yml
Due: none

Force asset rebuild
  opendata-assets/README.md
Due: none

Fix paths and if conditions
  .github/workflows/master.yml
  .github/workflows/test.yml
Due: none

AV-2066: use only assets package-lock.json hash as cache key
  .github/workflows/master.yml
  .github/workflows/test.yml
Due: none

force asset rebuild
  opendata-assets/README.md
Due: none

Fix syntax error
  .github/workflows/master.yml
Due: none

Update matomo extension
  ckan/templates/production.ini.j2
Due: none

Update drupal dependencies
  drupal/composer.lock
Due: none

Fix style issues
  drupal/modules/avoindata-articles/src/Controller/ArticlesController.php
  drupal/modules/avoindata-events/src/Controller/EventsController.php
  drupal/modules/avoindata-header/src/Controller/HeaderController.php
  drupal/modules/avoindata-newsfeed/src/Plugin/Block/NewsFeedBlock.php
Due: none

Disable numbered lists if faq menu
  drupal/modules/avoindata-theme/avoindata.theme
Due: none

Alphabetized imports
  drupal/modules/avoindata-header/src/Controller/HeaderController.php
Due: none

Alphabetized imports correctly
  drupal/modules/avoindata-header/src/Controller/HeaderController.php
Due: none

AV-1959: Use suffix check instead of regexp
  cdk/lib/monitoring-stack.ts
Due: cdk

AV-2058: Add new domain to route53
  cdk/bin/opendata.ts
  cdk/lib/domain-stack-props.ts
  cdk/lib/domain-stack.ts
Due: cdk

Delete infratest stacks from cdk
  cdk/bin/opendata.ts
Due: cdk

AV-2060: Rename Avoindata.fi to Suomi.fi Open Data
  ckan/ckanext/ckanext-ytp_comments/ckanext/ytp_comments/email_template.py
  ckan/ckanext/ckanext-ytp_main/README.md
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/dcat.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/email_templates/avoindata_signature.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/email_templates/deprecation_email_user.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/report/administrative_branch_summary_report.html
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/sparql/query.html
  ckan/ckanext/ckanext-ytp_request/ckanext/ytp_request/mail.py
  ckan/templates/production.ini.j2
  doc/Avoindata-rest-api_1.0.1_swagger.yaml
  doc/README.md
  doc/dcat-ap/README.md
  doc/dcat-ap/template.html.j2
  doc/dcat-ap/template.md.j2
  docker/nginx/www/ns/index.html
  drupal/modules/avoindata-header/templates/avoindata_search.html.twig
  drupal/modules/avoindata-infobox/templates/avoindata_infobox_block.html.twig
  drupal/modules/avoindata-theme/README.md
  drupal/site_config/language/fi/metatag.metatag_defaults.front.yml
  drupal/site_config/language/sv/metatag.metatag_defaults.front.yml
  drupal/site_config/metatag.metatag_defaults.front.yml
  opendata-assets/src/static_pages/404.en.html
  opendata-assets/src/static_pages/404.fi.html
  opendata-assets/src/static_pages/404.sv.html
  opendata-assets/src/static_pages/500.en.html
  opendata-assets/src/static_pages/500.fi.html
  opendata-assets/src/static_pages/500.sv.html
  opendata-assets/src/static_pages/maintenance.fi.html
Due: ckan

ruff
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/dcat.py
Due: ckan

Update suomifi palette colors, names and references
  opendata-assets/src/less/ckan/upstream-overrides.less
  opendata-assets/src/less/components/buttons.less
  opendata-assets/src/less/components/dataset.less
  opendata-assets/src/less/components/forms.less
  opendata-assets/src/less/components/layout.less
  opendata-assets/src/less/components/organization-hierarchy.less
  opendata-assets/src/less/components/pagination.less
  opendata-assets/src/less/components/reports.less
  opendata-assets/src/less/components/resource.less
  opendata-assets/src/less/components/showcase.less
  opendata-assets/src/less/components/statistics.less
  opendata-assets/src/less/components/tag--format.less
  opendata-assets/src/less/components/tag--producer.less
  opendata-assets/src/less/drupal/guide.less
  opendata-assets/src/less/drupal/overrides.less
  opendata-assets/src/less/utility.less
  opendata-assets/src/less/variables.less
  opendata-assets/src/less/variables/palette.less
Due: none

Cache node_modules in stylelint
  .github/workflows/check.yml
Due: none

Test if npmrc is actually needed
  .github/workflows/check.yml
Due: none

Upgrade stylelint
  opendata-assets/package-lock.json
  opendata-assets/package.json
Due: none
