Repository vrk-kpa/opendata: changes, and which Codecov flags are due for each by the changed paths.
All: cdk, ckan

AV-2295: add comment for enabling jquery_ui before theme
  drupal/scripts/init_drupal.sh
Due: none

[skip ci] .env.template updated by new image tags
  docker/.env.template
Due: none

Upgrade drupal modules
  drupal/composer.lock
Due: none

AV-2397: Update namespace documentation
  doc/dcat-ap/model.yml
  docker/nginx/www/ns/index.html
Due: none

AV-2397: Add collection type to dcat profile
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/dcat.py
Due: ckan

AV-2378: Remove twitter link
  drupal/modules/avoindata-footer/templates/avoindata_footer_block.html.twig
Due: none

Move collectionType to correct place
  doc/dcat-ap/model.yml
  docker/nginx/www/ns/index.html
Due: none

generate markdown documentation
  doc/dcat-ap/README.md
Due: none

Define datastore db engine version
  cdk/lib/database-stack.ts
Due: cdk

Upgrade datastore postgres engine to 16
  cdk/lib/database-stack.ts
Due: cdk

Turn major datastore db version upgrades off
  cdk/lib/database-stack.ts
Due: cdk

enable_logging
  .github/workflows/prod.yml
Due: none

AV-2384: Remove tracking due to performance reasons
  ckan/Dockerfile
  ckan/cron/crontab
  ckan/src/ckan/patches/remove_tracking.patch
  ckan/templates/production.ini.j2
Due: none

fix syntax error
  ckan/ckanext/ckanext-sixodp_showcase/ckanext/sixodp_showcase/templates/sixodp_showcase/snippets/showcase_search_input.html
Due: ckan

update tests
  cypress/e2e/advancedsearch_spec.js
  cypress/e2e/dataset_spec.js
Due: none

Update drupal matomo module
  drupal/composer.lock
Due: none

AV-2416: Remove fetching tracking information when indexing to solr, due to performance reasons
  ckan/Dockerfile
  ckan/src/ckan/patches/remove_tracking_summary_from_solr_index.patch
Due: none

Fix casing for FROM AS lines in dockerfiles
  ckan/Dockerfile
  docker/datapusher-plus/Dockerfile
  drupal/Dockerfile
Due: none

Allow cloudstorage to use test role in aws
  cdk/bin/opendata.ts
  cdk/lib/ci-test-stack-props.ts
  cdk/lib/ci-test-stack.ts
Due: cdk

Simplify test bucket policies
  cdk/lib/ci-test-stack.ts
Due: cdk

update composer dependencies
  drupal/composer.lock
Due: none

Update drupal to 10.3.13
  drupal/composer.lock
Due: none

Fix linting errors in legacy key value format
  docker/solr/Dockerfile
Due: none

AV-2417: Remove contact form, page and tests
  cypress/e2e/contact_spec.js
  cypress/e2e/urls_spec.js
  drupal/modules/avoindata-theme/templates/system/page--contact.html.twig
  drupal/scripts/init_drupal.sh
Due: none

Upgrade knex for typescript 5.4+ support
  cdk/package-lock.json
  cdk/package.json
Due: cdk

Upgrade cdk cli to fix synth
  cdk/package-lock.json
  cdk/package.json
Due: cdk

Exported data was not used
  cdk/test/ckan-stack.test.ts
Due: cdk

Upgrade flask for minimum required by sentry
  ckan/ckan-requirements.txt
Due: none

Path conditions:
  cdk: any of: cdk/**
  ckan: any of: ckan/ckanext/**
