Repository vrk-kpa/opendata: changes, and which Codecov flags are due for each by the changed paths.
All: cdk, ckan

[skip ci] .env.template updated by new image tags
  docker/.env.template
Due: none

AV-2185: Increase cron container resources in production
  cdk/bin/opendata.ts
Due: cdk

AV-2183: Enable logging in redis
  cdk/lib/cache-stack.ts
Due: cdk

Fix typo in log configuration
  cdk/lib/cache-stack.ts
Due: cdk

AV-2183: Create the log group
  cdk/lib/cache-stack.ts
Due: cdk

Fix syntax error in shield stack
  cdk/lib/shield-stack.ts
Due: cdk

ckan-solr-dev has been deprecates, use ckan-solr instead.
  .github/workflows/test.yml
Due: none

AV-2184: Add s3 dataset bucket to backup vault
  cdk/lib/backup-stack.ts
Due: cdk

Enable local unit testing
  ckan/ckanext/ckanext-ytp_main/test.ini
  docker/.env.template
  docker/docker-compose.yml
  docker/postgres/docker-entrypoint-initdb.d/00_init_db.sh
Due: ckan

Update harvest for initializing harvest during tests
  ckan/ckanext/ckanext-ytp_main/conftest.py
Due: ckan

Rewrote the test to use factories and clearing db and index
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/tests/test_plugin.py
  ckan/ckanext/ckanext-ytp_main/conftest.py
Due: ckan

Document running the unit tests
  docker/README.md
Due: none

Updated harvest has new db init command
  ckan/scripts/init_ckan.sh
Due: none

AV-2199: Ignore empty strings in lists in repeating texts
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/validators.py
Due: ckan

Add tests
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/tests/test_plugin.py
Due: ckan

Remove untested plugins from tests
  ckan/ckanext/ckanext-ytp_main/test.ini
Due: ckan

AV-2182: Optimize download graph on resource pages
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/package/resource_read.html
Due: ckan

AV-2031: Update datapusher and qsv
  docker/datapusher-plus/Dockerfile
Due: none

AV-2198: Allow exec in solr container
  cdk/lib/ckan-stack.ts
Due: cdk

AV-2198: enable execute command solr container
  cdk/lib/ckan-stack.ts
Due: cdk

Path conditions:
  cdk: any of: cdk/**
  ckan: any of: ckan/ckanext/**
