Repository vrk-kpa/opendata: changes, and which Codecov flags are due for each by the changed paths.
All: cdk, ckan

load the built image
  .github/workflows/test.yml
Due: none

[skip ci] .env.template updated by new image tags
  docker/.env.template
Due: none

fix error in deleting groups
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/converters.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/tests/test_plugin.py
Due: ckan

update comment
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/converters.py
Due: ckan

AV-2237: Fix bootstrap css path, resolve jinja deprecation errors
  doc/dcat-ap/template.html.j2
  docker/nginx/www/ns/index.html
Due: none

AV-2237: Remove unused DCAT-AP terms/classes, fix some inconsistencies
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/dcat.py
  doc/dcat-ap/README.md
  doc/dcat-ap/model.yml
  doc/dcat-ap/template.md.j2
  docker/nginx/www/ns/index.html
Due: ckan

AV-2296: Fix datapusher compatability with qsv
  docker/datapusher-plus/Dockerfile
Due: none

AV-2232: search facets modification requires that facets are added
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
Due: ckan

Refactor categories to groups
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/converters.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/schemas/dataset.json
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/package/group_list.html
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/scheming/form_snippets/group_checkbox.html
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/tests/test_plugin.py
Due: ckan

Fix test and remove referral to categories
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/package/group_list.html
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/views.py
Due: ckan

Refactor categories to groups in apis and showcases
  ckan/ckanext/ckanext-sixodp_showcase/ckanext/sixodp_showcase/schemas/showcase.json
Due: ckan

update test
  cypress/e2e/dataset_spec.js
Due: none

Get Bootstrap styles for DCAT-AP namespace page from CDN
  doc/dcat-ap/template.html.j2
  docker/nginx/www/ns/index.html
Due: none

AV-2320: Add all users to newly created groups as editors
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/tests/test_plugin.py
  ckan/ckanext/ckanext-ytp_main/test.ini
Due: ckan

AV-2320: Fix opendata-group add CLI command
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/cli.py
Due: ckan

Upgrade drupal to 10.2.10
  drupal/composer.json
  drupal/composer.lock
Due: none

AV-2295: Drupal 10.3
  drupal/Dockerfile
  drupal/composer.json
  drupal/composer.lock
Due: none

AV-2295: Enable jquery_ui modules before theme
  drupal/scripts/init_drupal.sh
Due: none

AV-2295: handle confirmation dialog while logging out in cypress tests
  cypress/support/commands.js
Due: none

AV-2295: handle confirmation dialog while logging out in cypress tests if it is shown
  cypress/support/commands.js
  drupal/scripts/init_drupal.sh
Due: none

AV-2295: Replace logout_request with logout in cypress tests
  cypress/e2e/advancedsearch_spec.js
  cypress/e2e/apiset_spec.js
  cypress/e2e/dataset_resource_spec.js
  cypress/e2e/dataset_spec.js
  cypress/e2e/login_spec.js
  cypress/e2e/showcase_spec.js
  cypress/e2e/sparql_spec.js
  cypress/support/commands.js
  cypress/support/index.d.ts
Due: none

AV-2295: Test captcha/analytics disable in drupal cdk tests
  cdk/test/drupal-stack.test.ts
Due: cdk

AV-2295: Test captcha/analytics disable in ckan cdk tests
  cdk/test/ckan-stack.test.ts
Due: cdk

AV-2295: conditional jquery_ui enable, use header logout link in cypress tests
  cypress/support/commands.js
  drupal/scripts/init_drupal.sh
Due: none

Path conditions:
  cdk: any of: cdk/**
  ckan: any of: ckan/ckanext/**
