Repository vrk-kpa/opendata: changes, and which Codecov flags are due for each by the changed paths.
All: cdk, ckan

codecov.yml:

component_management:
  individual_components:
    - component_id: cdk
      paths:
        - cdk/**
      statuses:
        - type: project
          target: 95%
        - type: patch
          target: 100%
    - component_id: ckan
      carryforward: true
      paths:
        - ckan/ckanext/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
        - type: patch
          target: 90%

Use encryption keys in lambda as well
  cdk/bin/opendata.ts
  cdk/lib/create-databases-and-users-props.ts
  cdk/lib/create-databases-and-users.ts
  cdk/lib/database-stack.ts
  cdk/lib/lambda-stack-props.ts
  cdk/lib/lambda-stack.ts
Due: cdk

Create new encryption key for secrets
  cloudformation/kms_keys.yml
Due: none

Add prod lambda stack
  cdk/bin/opendata.ts
Due: cdk

Separate database creation commands to circumvent transaction
  cdk/lib/create-databases-and-users.function.ts
Due: cdk

AV-1959: Update typescript and add dom to tsconfig to fix build errors
  cdk/package-lock.json
  cdk/package.json
  cdk/tsconfig.json
Due: cdk

Fix error type
  cdk/lib/create-databases-and-users.function.ts
Due: cdk

AV-2024: Use root user to run cron inside cron container
  cdk/lib/ckan-stack.ts
  docker/docker-compose.yml
Due: cdk

AV-1959: Refactor monitoring stack and zulip lambda to match others
  cdk/bin/opendata.ts
  cdk/lib/lambda-stack.ts
  cdk/lib/monitoring-stack-props.ts
  cdk/lib/monitoring-stack.ts
  cdk/lib/send-to-zulip-props.ts
  cdk/lib/send-to-zulip.function.ts
  cdk/lib/send-to-zulip.ts
Due: cdk

Remove forwarding output of cronjobs
  ckan/cron/crontab
Due: none

[skip ci] .env.template updated by new image tags
  docker/.env.template
Due: none

AV-2016: Add missing compile translations for harvest
  ckan/scripts/install_extensions.sh
Due: none

AV-2026: Remove duplicate search button from hero
  drupal/modules/avoindata-hero/templates/avoindata_hero_form.html.twig
Due: none

AV-1944: Add maintainer_note to dataset schema
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/schemas/dataset.json
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/package/snippets/dataset_state_banner.html
  opendata-assets/src/less/components/dataset.less
Due: ckan

AV-1944: Fix emptying maintainer_note
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/schemas/dataset.json
Due: ckan

AV-1944: Update translations
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/i18n/ckanext-ytp_main.pot
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/i18n/fi/LC_MESSAGES/ckanext-ytp_main.po
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/i18n/sv/LC_MESSAGES/ckanext-ytp_main.po
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/translations.py
Due: ckan

AV-1944: Fix banner content alignment on non-admin users
  opendata-assets/src/less/components/dataset.less
Due: none

AV-2021: Add date cutoff for maintainer_note banner visibilit
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/helpers.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/schemas/dataset.json
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/package/snippets/dataset_state_banner.html
  opendata-assets/src/less/components/forms.less
Due: ckan

Make harvest source config object optional
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
Due: ckan

AV-1964: spatial backend name has changed
  ckan/templates/production.ini.j2
Due: none

AV-1964: Postgis is no longer required
  docker/postgres/Dockerfile
Due: none

AV-1964: Remove postgis from tests
  .github/workflows/test.yml
Due: none

AV-1964: Use ckan dev docker image for tests as it has python 3.9
  .github/workflows/test.yml
Due: none

AV-1964: Remove spatial db init as only postgis requires it
  ckan/scripts/init_ckan.sh
Due: none

Disable installing spatial requirements for now, they are not needed during tests
  .github/workflows/test.yml
Due: none

AV-1964: Remove spatial from tests
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
  ckan/ckanext/ckanext-ytp_main/test.ini
Due: ckan

Disable spatial install from CI tests
  .github/workflows/test.yml
Due: none

Remove spatial plugins from tests
  ckan/ckanext/ckanext-ytp_main/test.ini
Due: ckan

Make spatial optional plugin
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
Due: ckan

Use built datapusher image from registry instead of building it everytime
  docker/docker-compose.yml
Due: none

AV-2020: Remove disqus from drupal composer.json
  drupal/composer.json
  drupal/composer.lock
Due: none

Replace codecov components with flags
  .github/workflows/test.yml
  codecov.yml
  opendata-assets/README.md
Due: none

Trigger tests for ckan
  ckan/ckanext/ckanext-ytp_main/README.md
Due: ckan

AV-1867: Limit newsfeed item tags to 2 and truncate title at 60 characters
  drupal/modules/avoindata-newsfeed/templates/avoindata_newsfeed_block.html.twig
Due: none

AV-1867: Switch from truncate at chars to line-clamp 3 at lines
  drupal/modules/avoindata-newsfeed/templates/avoindata_newsfeed_block.html.twig
  opendata-assets/src/less/utility.less
Due: none
