Repository vrk-kpa/opendata: changes, and which Codecov flags are due for each by the changed paths.
All: cdk, ckan

Install npm packages
  .github/workflows/test.yml
Due: none

Open root page before the test
  cypress/e2e/profile_spec.js
Due: none

Add Reset plugin
  bin/reset.js
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
  ckan/ckanext/ckanext-ytp_main/setup.py
Due: ckan

Add reset plugin to local environment
  docker/.env.ckan.local
Due: none

Remove interactive terminal from docker run
  .github/workflows/test.yml
Due: none

Remove sentry from local environment
  docker/.env.ckan.local
Due: none

Add local cypress back for using the UI
  docker/README.md
  package-lock.json
  package.json
Due: none

Use cypress containers in E2E tests
  .github/workflows/test.yml
Due: none

Parse commit data
  .github/workflows/test.yml
Due: none

Add commit info to env variables
  .github/workflows/test.yml
  bin/db_reset.js
  package.json
Due: none

[skip ci] Update cypress running instructions
  docker/README.md
Due: none

Docker config option not needed anymore
  .github/workflows/test.yml
  cypress.config.js
Due: none

Update lockfile
  package-lock.json
Due: none

add build id for parallelization to work
  .github/workflows/test.yml
Due: none

Add ci build url and fix branch name
  .github/workflows/test.yml
Due: none

Run cypress from container
  .github/workflows/test.yml
  cypress/support/commands.js
  package-lock.json
  package.json
Due: none

[skip ci] .env.template updated by new image tags
  docker/.env.template
Due: none

AV-2021: Parse dates with iso8601 lib
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/helpers.py
Due: ckan

Add missing translation
  drupal/modules/avoindata-newsfeed/templates/avoindata_newsfeed_block.html.twig
Due: none

AV-2021: Rename helper for clarity
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/helpers.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/plugin.py
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/package/snippets/dataset_state_banner.html
Due: ckan

Fix parsing commit message
  .github/workflows/test.yml
Due: none

Delete ytp_drupal from use
  docker/.env.ckan.local
Due: none

AV-2010: Separate database hosts to service specific variables
  ckan/scripts/entrypoint_ckan.sh
  ckan/scripts/init_ckan.sh
  ckan/templates/datastore_permissions.sql.j2
  ckan/templates/production.ini.j2
  docker/.env.template
  docker/docker-compose.yml
  docker/postgres/docker-entrypoint-initdb.d/00_init_db.sh
  drupal/scripts/init_drupal.sh
  drupal/templates/settings.php.j2
Due: none

AV-2010: Use database endpoint addresses instead from parameter store
  cdk/lib/ckan-stack.ts
  cdk/lib/drupal-stack.ts
Due: cdk

AV-2010: Add DB_DATAPUSHER_JOBS_HOST env variable
  cdk/lib/ckan-stack.ts
  docker/datapusher-plus/startup.sh
  docker/docker-compose.yml
Due: cdk

AV-2033: Perform site search partial result counts with edismax like the main search
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/views.py
Due: ckan

AV-2029: Fix dataset map search by making sure Leaflet is only loaded once
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/spatial/snippets/spatial_query.html
Due: ckan

AV-2025: Added SPARQL search heading
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/i18n/ckanext-ytp_main.pot
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/i18n/fi/LC_MESSAGES/ckanext-ytp_main.po
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/i18n/sv/LC_MESSAGES/ckanext-ytp_main.po
  ckan/ckanext/ckanext-ytp_main/ckanext/ytp/templates/sparql/query.html
Due: ckan

AV-2010: Add datastore instance to cdk configuration
  cdk/bin/opendata.ts
  cdk/lib/ckan-stack-props.ts
  cdk/lib/ckan-stack.ts
  cdk/lib/create-databases-and-users.function.ts
  cdk/lib/create-databases-and-users.ts
  cdk/lib/ecs-stack-props.ts
  cdk/lib/lambda-stack.ts
Due: cdk

Remove unneeded variables
  docker/docker-compose.yml
Due: none

Update tests
  cdk/test/ckan-stack.test.ts
Due: cdk

Add read permission to secret for datapusher task definition
  cdk/lib/ckan-stack.ts
Due: cdk

AV-2010: datapusher does not need to connect main database directly
  cdk/lib/ckan-stack.ts
Due: cdk

AV-1894: Send admin notifications of org/member approvals
  ckan/ckanext/ckanext-ytp_request/ckanext/ytp_request/mail.py
  ckan/templates/production.ini.j2
Due: ckan

Path conditions:
  cdk: any of: cdk/**
  ckan: any of: ckan/ckanext/**
